 @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
 body {
     font-family: "jura", sans-serif;
 }
 
 div a {
     text-decoration-line: none;
     color: white;
 }
 
 div.item {
     width: 100px;
 }
 
 div.item:hover {
     background-color: rgb(54, 51, 51);
     border-radius: 5%;
 }
 
 nav {
     background-color: gray;
     opacity: 0.8;
     display: flex;
     justify-content: space-between;
 }
 
 div.left {
     display: flex;
     margin-left: 10px;
 }
 
 nav div button {
     background-color: #f72602;
     border-radius: 5%;
     border: 1px solid white;
     margin-left: 10px;
 }
 
 .container {
     display: flex;
 }
 
 .container .box {
     width: 50vw;
     height: 100vh;
     background-size: cover;
 }
 
 .box.background {
     background-image: url(./assets/background.jpg);
     text-align: center;
 }
 
 .box.main-image {
     background-image: url(./assets/main.jpg);
 }
 
 .background p {
     writing-mode: vertical-lr;
     color: red;
     font-size: 4rem;
     font-weight: bold;
     display: inline;
     margin-top: 100px;
 }